/* Apply to all select elements */
select:focus-visible {
    outline: none;
    box-shadow: none;
}

.dropdown-class:focus-visible {
    outline: none;
    box-shadow: none;
}
.cropper-container {
    display: flex;
    height: 36px;
    padding: 5px 5px;
    border-radius: 6px;
    color: #fff;
    background-color: #3b404a;
  }
  
  .tab-header {
    display: flex;
    justify-content: space-between;
  }
  
  .tab-button {
    padding: 10px 12px;
    border: none;
    background-color:#3b404a;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
  }
  
  .tab-button.active {
    background-color: #3c3a3a;
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
  }
  
  .tab-content {
    background-color: #333;
    padding: 20px;
    border-radius: 0 0 8px 8px;
  }
  
  .tab-pane {
    padding: 10px;
  }
  